<h1>Index Page</h1>

<form class="create-form">
  <div class="form-group">
    <label>Where</label>
    <input type="text" id="city" name="city">
  </div>
  <button id="where" type="submit">Look up</button>
</form>
