<h2>New Promoter Registration</h2>

<form class="create-form">
  <div class="form-group">
    <label>First Name</label>
    <input type="text" id="firstName" name="fname">
  </div>
    <div class="form-group">
    <label>Last Name</label>
    <input type="text" id="lastName" name="lname">
  </div>
    <div class="form-group">
    <label>Handle</label>
    <input type="text" id="handle" name="handle">
  </div>
  <div class="form-group">
    <label>About Me</label>
    <input type="text" id="about" name="about">
  </div>
    <div class="form-group">
    <label>City</label>
    <select id="city" name="city">
      <option value="Miami">Miami</option>
      </select>
  </div>
    <div class="form-group">
    <label>Language</label>
    <select id="language" name="language">
      <option value="english">English</option>
      <option value="spanish">Spanish</option>
      </select>
  </div>
    <div class="form-group">
    <label>Phone Number</label>
    <input type="text" id="phone" name="phone">
  </div>
    <div class="form-group">
    <label>Email</label>
    <input type="email" id="email" name="email">
  </div>
    <div class="form-group">
    <label>Instagram</label>
    <input type="text" id="insta" name="insta">
  </div>
  <button id="CreatePromoter" type="submit">Create Promoter</button>
</form>