

html {
    position: relative;
    min-height: 100%;
    max-width: 100%;
}

body {
   
    min-height: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
    font-size: 18px; 
    font-family: 'Raleway', sans-serif;
    color: black;
    margin-bottom: 60px;
    line-height: 1.5;    
}

.social-area{
    margin-bottom: 25px;
}

footer {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%; 
    height: 60px;
    line-height: 60px;
    background-color:  black;
    color: white;
    font-size: 12px;
}

.navbar {
    position: relative;
    height: 90px;
}

#logo {
    width: 80px;
    position: absolute;
    left: 50%;
    margin-left: -50px !important;  
    display: inline-block;
    top: 5px;
}

.promoterLogin{
    font-size:20px;
}

ul.lead {
    list-style-type: none;
  }

a.lead-button:link{
    color:white
}

.slogan {
    position: absolute;
    right: 40px;
}

.slogan {
    font-weight: 500;
    font-size: 30px;
    letter-spacing: 0.1em;
  }

a:link{
    color: #212529;
}

a:hover{
    color: #212529;
}

a:visited{
    color: #212529;
}

#where{
    border-radius: 25px;
}

header {
	background-image: url("../images/miami_bw.jpg");
    height: 550px;
    background-size: cover;
    background-repeat: no-repeat;
}

header img {
    height: 100%;

}

h1, h2, h3, h4, h5 {
    letter-spacing: 0.1em;
}

.img-fluid {
    height: 250px !important;
    width: 400px !important;
}

.labels {
    font-size: 36px; 
    color: rgb(68, 3, 52);
    text-shadow: 1px 1px 2px rgb(165, 162, 164);
    font-weight: 500px;
    font-family: 'Pacifico', cursive;
}

.social {
    width: 60px;
    height: 60px;
    margin: 5px;
    margin-bottom: 50px;
}

input.empty {  
    padding-left: 15px;
    font-size: 20px;
    line-height:40px;
    width: 250px;
    border:30px black;
    border-radius: 500px;
    font-family: FontAwesome;
    margin-top: 180px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 200px;
    text-rendering: optimizeLegibility;
}

.miami{
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    width:515px;
}

.yacht {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    width: 515px;
    height: 400px;
}

.miami:hover {
    opacity: 0.7;
}

.yacht:hover {
    opacity: 0.7;
}

h3 {
    font-weight: bold;
}

.thesteps  {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    color: white;
    height: 45px;
}

.who  {
    width: 300px;
    background-color: black;
    color: white;
    margin-left: auto;
    margin-right: auto;
    height: 45px;
}

/* .background {
    background-image: url("../images/y-background.jpg");
    background-size: contain;
} */

hr {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    font: 14px Georgia, serif;
    }

hr.style-eight {
    overflow: visible; /* For IE */
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
}
hr.style-eight:after {
    content: "§";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
}

.dashboard {
    background-image: url("../images/y-background.jpg");
}

.card-title {
    font-weight: bold;
}

.profilePhoto {
   border-radius: 5px; 
   width: 200px;
}

p { margin:0 }

.btn {
    width: 120px;
}

:root {
    --input-padding-x: 1.5rem;
    --input-padding-y: .75rem;
  }
  

.card-signin {
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.card-signin .card-title {
    margin-bottom: 2rem;
    font-weight: 300;
    font-size: 1.5rem;
}

.card-signin .card-img-left {
    width: 45%;
    background: scroll center url("../images/skyline.jpg");
    background-size: cover;
}

.card-signin .card-body {
    padding: 2rem;
}

.form-signin {
    width: 100%;
}

.form-signin .btn {
    letter-spacing: .1rem;
    padding: 8px;
    transition: all 0.2s;
}

.form-label-group {
    position: relative;
    margin-bottom: 1rem;
}

.form-label-group input {
    height: auto;
}

option {
    height: auto;
}

.form-label-group>input,
.form-label-group>label {
    padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group>label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0;
    /* Override default `<label>` margin */
    line-height: 1.5;
    color: #495057;
    border: 1px solid transparent;
    transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
    color: transparent;
}

.form-label-group input:-ms-input-placeholder {
    color: transparent;
}

.form-label-group input::-ms-input-placeholder {
    color: transparent;
}

.form-label-group input::-moz-placeholder {
color: transparent;
}

.form-label-group input::placeholder {
    color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
    padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
    padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown)~label {
    padding-top: calc(var(--input-padding-y) / 3);
    padding-bottom: calc(var(--input-padding-y) / 3);
    font-size: 12px;
    color: #777;
}

.cloudinary-button {
    background-color: rgb(224, 220, 220) !important;
    color: black !important;
}

.styled-select {
    background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 100% .50;
    height: 50px;
    overflow: hidden;
    width: 268px;
    -webkit-border-radius: 5px!important;
    -moz-border-radius: 5px!important;
}

.styled-select select {
    background: transparent;
    border: none;
    font-size: 14px;
    height: 50px;
    padding: 5px; 
    width: 268px;
    -webkit-border-radius: 5px!important;
    -moz-border-radius: 5px!important;
}

 .black{
    background-color: #fff;
    border-color: #F6F7F8;
    
 }

 .black select  { 
    border: 1px solid #ccc;
    color: #000;    
}

.gallery {
    max-width: 1200px !important;
    margin-left: 40px !important;
    padding-right: 0px !important;
}

.experienceVIP {
    background-color: black;
    color: white; 
    width: 300px;
    height: 45px;
    margin-left: auto;
    margin-right: auto;
}

.owlz {
    font-weight: 900;
    font-family: 'Raleway', sans-serif !important;
}